.two_table{
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 10px;
  row-gap: 1em;
  border-radius: 10px 10px 10px 10px;

}
table {
  width: 100%;
}
td{
  height: 50px;
}
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  height: 100%;
  background-image: url("../../assets/img/background_dog.jpg");
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.Logo {
  margin: 10px;
  color: whitesmoke;
  font-size: x-large;
  font-family: Poppins;
}

.Logo2 {
  margin: 10px;
}

.module {
  position: relative;
}

  .module::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/background_dog.jpg");
  }

.container {
  position: relative;
  border-radius: 10px 10px 10px 10px;


}

.TableHead {
    background-color: #FBFBFB;
    border-radius: 10px 10px 10px 10px;

}

.TableBody {
    background-color: #F1F1F1;
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;

}
