.image {
  background-image: url("../../assets/img/background_dog.jpg"); 
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Name {
  font-family: Poppins, regular;
  font-weight: bold;
  font-size: 55px;
  background-color: #dedddc;
  padding: 2%;
  border-radius: 10px 10px 0 0;
}

.Message {
  font-size: x-large;
  padding: 2%;
  background-color: #dedddc;  
  font-family: Poppins, regular;
}

.Queuing {
  padding: 2%;
  background-color: #f1f1f1;
  font-family: Poppins;
  font-style: italic;
}

.Front-Display{
  text-align:right;
}

.Number {
  width: 300px;
  height: 50px;
  border: 1px solid #55411C;
  background-color: #A1834D;
  padding: 10px;
  text-align: center;
  font-family: Poppins, light;
  border-radius: 7px 7px 7px 7px;
}

.Ending {
  background-color: #dedddc;
  text-align: center;
  padding: 10px;
  font-size: x-large;
  font-family: Poppins;
  font-style: italic;
  border-radius: 0 0 10px 10px;
}

.SubmitButton {
  justify-content: center;
  background-color: #55411C;
  color: white;
  height: 60px;
  width: 380px;
  font-size: x-large;
  font-family: Poppins, regular;
  font-weight: lighter;
  font-size: 30px;
  box-shadow: 0px 5px 0px #9d8455;
}

.container {
  position: relative;

}

.module {
  position: relative;
}

  .module::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-image: url("../../assets/img/background_dog.jpg"); 
    filter: blur(8px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.Logo {
  margin: 5px;
  margin-top: 10px;
  color: whitesmoke;
  font-size: x-large;
  font-family: Poppins, light;
}

.Logo2 {
  margin-right: 10px;
  margin-top: 10px;}

.line {
  padding-top: 20px;
  position: absolute;
  margin-left: 310px;
  display: block;
  font-size: 35px;

}

.middle {
  text-align: center;
}
