table {
  width: 100%;
}

.alert-card {
  margin: 20px; /* or inline-flex */
}

/*This is for the cards to display vertical*/
.flex-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
/*vh is view high*/
}

.flex-parent{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.overflow-auto{
    overflow: auto;
}
