


<div class="container">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="3" [rowspan]="5" [style.background]="'lightblue'">

      <table class='table table-striped' aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>Last, First</th>
            <th>Pet ID</th>
            <th>Arrived</th>
            <th>Inspected</th>
            <th>Release</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let BackDisplayID of BackDisplayID; let i = index" [style.background-color]="'#' + Colour[i]">
            <td>{{ UserDisplayName[i] }}
            <td>{{ PetName[i] }} <br /> {{MicroChipID[i]}} </td>
            <td>
              <mat-checkbox
                            [(ngModel)]=Is_Arrived[i]
                            (change)="UpdateIs_Arrived($event, i)"
                            >
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                            [(ngModel)]=Is_Inspected[i]
                            (change)="UpdateIs_Inspected($event, i)"
                            >
              </mat-checkbox>
            </td>
            <td>
              <mat-checkbox
                            [(ngModel)]=Is_Released[i]
                            (change)="UpdateIs_Released($event, i)"
                            >
              </mat-checkbox>
            </td>
          </tr>
        </tbody>
      </table>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="5" [style.background]="'lightgreen'">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
