#logo{
  background-image: url("../../assets/img/background_dog.jpg"); 
}

.Title {
  background-color: #FBFBFB;
  height: 5vh;
}

.Form {
  background-color: #F1F1F1 !important;
/*background-color: #646464;*/
}

.form-group{
  font-family: Arial, Helvetica, sans-serif;
}

.NameBox {
  margin: 10px;
  width: 50%;
  background-color: transparent;
  border-color: #A1834D;

}

.phoneNum {
  margin: 10px;
  width: 100%;
  background-color: transparent;
  border-color: #A1834D;
}

.EmailBox {
  margin: 10px;
  width: 66%;
  background-color: transparent;
  border-color: #A1834D;
}

.MicroChipBox {
  margin: 10px;
  width: 66%;
  padding-bottom: 5px;
  background-color: transparent;
  border-color: #A1834D;
}

.mat-form-field-appearance-outline{
  color: red;
}

#submit{
text-align: center;
}

.module {
  position: relative;
}

.module::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-image: url("../../assets/img/background_dog.jpg");
  filter: blur(8px);
  background-position: center center;
background-repeat: no-repeat;
background-size: cover;

}

.container {
  position: relative;
  background-color: #dedddc;
  width: 70%;
  height: 100%;
  font-family: "adobe-clean", sans-serif;
  border-radius: 10px 10px 10px 10px;
}
.Logo2 {
  margin: 10px;
  color: whitesmoke;
  margin-left: 10px;
  background-color: transparent;
  position: relative;
}
.form-control{
  background-color: #dedddc;
  border: 2px solid burlywood;
  padding-top: 25px;
  padding-bottom: 25px;
}
.Logo {
  margin-left: 220px;
  color: whitesmoke;
  font-size: x-large;
  font-family: Poppins, light;
}
.form-header {
  padding: 2% 12px 12px;
}
