<div class="container">
  <div fxLayout="column" class="container">
    <div class="Title">
      Please Sign-in by entering the following:
    </div>
    <div class="container, Form">
      Name(Last,First)
      <div>
        <textarea
                  matInput placeholder="Type here"
                  class="NameBox"
                  type="text"
                  id="lastName">
        </textarea>       ,
        <textarea
                  matInput placeholder="Type here"
                  class="NameBox"
                  type="text"
                  id="firstname">
        </textarea>
      </div>
      Phone Number
      <div>
        <textarea
                  matInput placeholder="( x x x )"
                  class="PhoneBox"
                  maxlength="3"
                  type="text"
                  id="areaCode2">
        </textarea>
        <textarea
                  matInput placeholder="Type here"
                  class="PhoneBox">
        </textarea> -
        <textarea matInput placeholder="Type here" class="PhoneBox"></textarea>
      </div>
      Email
      <div>
        <textarea matInput placeholder="Type here" class="EmailBox"></textarea>
      </div>
      MicroChip Nunmber
      <div>
        <textarea matInput placeholder="Type here" class="MicroChipBox"></textarea>
      </div>
    </div>
      <div style="align-self: center">
        <div class="SubmitButton">
      <button mat-button >Submit</button>
    </div>
  </div>
  </div>
</div>
