/*.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.alert-button {
  width: 200px;
}

.input-form {
  margin-left: 130px;
}*/

.flex-parent {
  display: flex;
  justify-content: center;
  width: 100%;
}

.CustomAlert{
  margin: 20px;
}

.CustomAlertBox{
  background-color: #55411C;
  color: white;
}

.AlertBox {
  margin: 10px;
  width: 100%;
}

.SubmitButton {
  justify-content: center !important;
  background-color: #55411C;
  color: white;
  align-self:center;
}

.container {
  background-color: #F1F1F1;
}

/*For pop up*/
.CustomAlertPopUpBox {
  background-color: #55411C;
  color: white;
  margin: 5px;
}

.PopUpInput {
  margin: 5px;
}

.PopUpX {
  float: right;
  margin: 5px;
}

.PopUpButtons {
  justify-content: center;
}

.Logo {
  color: black;
  font-size: x-large;
  background-color: #FBFBFB;
}

.Logo2 {
  margin: 10px;
}

.SubmitButton2 {
  background-color: #F1F1F1;
  align-content:center !important;
}
