/*.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.alert-button {
  width: 200px;
}

.input-form {
  margin-left: 130px;
}*/

.flex-parent {
  display: flex;
  justify-content: center;
  width: 100%;
}

.CustomAlert{
  margin: 20px;
}

.CustomAlertBox{
  background-color: #55411C;
  color: white;
}

.Plus {
  background-color: #55411C;
  color: white;
  margin: 20px;
}

.AlertBox {
  margin: 10px;
  width: 100%;
}

.SubmitButton {
  justify-content: center;
  background-color: #55411C;
  color: white;
  height: 55px;
  width: 110px;
  font-size: x-large;
  font-family: Poppins, regular;
  font-size: 20px;
  box-shadow: 0px 5px 0px #9d8455;
  margin-left: 15px;
}

.container {
  background-color: #F1F1F1;
  font-family: Poppins, light;
  font-size: 25px;
}

/*For pop up*/
.CustomAlertPopUpBox {
  background-color: #55411C;
  color: white;
  margin: 5px;
}

.PopUpInput {
  margin: 5px;
}

.PopUpX {
  float: right;
  margin: 5px;
}

.PopUpButtons {
  justify-content: center;
  background-color: #55411C;
  color: white;
  height: 45px;
  width: 110px;
  font-size: x-large;
  font-family: Poppins, regular;
  font-size: 20px;
  box-shadow: 0px 3px 0px #9d8455;
  margin-left: 15px;
}

.Logo {
  margin: 15px;
  color: black;
  font-size: x-large;
  font-family: Poppins, light;
}

.Logo2 {
  margin: 10px;
}

.SubmitButton2 {
  background-color: #F1F1F1;
  align-content:right !important;
}
