
<div class="flex-parent">
  <div fxLayout="column">
    <div>
      <div fxLayout="row" class="Logo">
        <div class="Logo2">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Seal_of_the_State_of_Hawaii.svg/1200px-Seal_of_the_State_of_Hawaii.svg.png" style="width:50px;height:50px;">
        </div>
        <div class="Logo2">
          <img src="assets/img/ag_hi.png" style="width:50px;height:50px;">
        </div>
        <div fxLayout="column">
          <div>
            State of Hawaii
          </div>
          <div>
            <b>Animal Industry Division</b>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div>
        &nbsp;
     </div>
      <b>Please select an alert:</b>
      <div fxLayout="row wrap">
        <div *ngFor="let Message of Message; let i = index" class="CustomAlert">
          <div class="CustomAlertBox">
            <button mat-button (click)="PopulateMessageAlert(Message)">
              {{Message}}
            </button>
            <button mat-button (click)="openDialog(Message, ID[i])"><mat-icon [ngStyle]="{'color':'white'}">edit</mat-icon></button>
          </div>
        </div>
        <div>
          <button class="Plus" mat-button (click)="openDialog('', -1)"><mat-icon [ngStyle]="{'color':'white'}">add</mat-icon></button>
        </div>
        </div>
      </div>

    <div class="container">
      <mat-form-field class="AlertBox" appearance="outline">
        <mat-label>What kind of alert would you like to send?</mat-label>
        <textarea matInput placeholder="Owner A came to pick up Pet B" [(ngModel)]="AlertMessage">{{AlertMessage}}</textarea>
      </mat-form-field>
    </div>
    
    <div class="SubmitButton2">
      <div class="SubmitButton2">
        <button mat-button (click)="submitAlert(AlertMessage)" class="SubmitButton">Submit</button>
      </div>
      <div>
        &nbsp;
     </div>
    </div>
  </div>
</div>

