/*.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.alert-button {
  width: 200px;
}

.input-form {
  margin-left: 130px;
}*/


/*This is for the cards to display vertical*/
.flex-child {
  display: flex;
  flex-direction: column;
  height: 50vh;
  /*vh is view high*/
}

.flex-parent {
  display: flex;
  justify-content: center;
}
