.image {
  background-image: url('https://biegamnaturalnie.pl/wp-content/uploads/2018/07/bieganie-naturalne-psy-biegaja-1024x683.jpg');
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Name {
  font-size: xx-large;
  background-color: #f1f1f1;
  padding: 2%;
  text-align: center;
  color: #524122
}

.Message {
  font-size: x-large;
  padding: 2%;
  background-color: #f1f1f1;
}

.Queuing {
  padding: 2%;
  background-color: white;
}

.Front-Display {
  text-align: right;
}

.Number {
  width: 300px;
  height: 50px;
  border: 1px solid #000;
  background-color: #A1834D;
  padding: 10px;
  text-align: center
}

.Ending {
  background-color: #dedddc;
  text-align: center;
  padding: 10px;
  font-size: x-large;
}

.SubmitButton {
  justify-content: center;
  background-color: #55411C;
  color: white;
  height: 75px;
  width: 400px;
  font-size: x-large;
}

.container {
  position: relative;
}

.module {
  position: relative;
}

  .module::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://biegamnaturalnie.pl/wp-content/uploads/2018/07/bieganie-naturalne-psy-biegaja-1024x683.jpg');
    filter: blur(8px);
  }

.Logo {
  margin: 30px;
  color: whitesmoke;
  font-size: x-large;
}

.Logo2 {
  margin: 10px;
}
