.image {
  background-image: url("../../assets/img/background_dog.jpg"); 
  /* Add the blur effect */

  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background: rgba(0,0,0,0.3); */
}


.Name {
  border-radius: 10px 10px 0 0;
  font-size: 35px;
  font-family: Poppins, regular;
  background-color: #f1f1f1;
  padding: 2%;
  text-align: center;
  color: #524122;

  
}

.Message {
  font-size: x-large;
  padding: 2%;
  background-color: #f1f1f1;
}

.Queuing {
  padding: 2%;
  background-color: white;
}

.Front-Display {
  text-align: right;
}

.Number {
  width: 300px;
  height: 50px;
  border: 1px solid #000;
  background-color: #A1834D;
  padding: 10px;
  text-align: center;
}

.Ending {
  border-radius: 0 0 10px 10px;
  background-color: #dedddc;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  font-family: Poppins, regular;

}

.SubmitButton {
  justify-content: center;
  background-color: #55411C;
  color: white;
  height: 75px;
  width: 400px;
  font-size: x-large;
  font-family: Poppins, regular;
  font-size: 40px;
  box-shadow: 0px 5px 0px #9d8455;

}

.container {
  position: relative;
}

.module {
  position: relative;
}

  .module::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/background_dog.jpg"); 
    filter: blur(8px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

.Logo {
  margin: 30px;
  color: whitesmoke;
  font-size: x-large;
  font-family: Poppins, light;
}

.Logo2 {
  margin: 10px;
}
