<!--<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>-->

<!--<h1>Angular HTTP Basics</h1>

<button (click)="getPosts()"> GETTER </button>

<div *ngFor="let posts of posts | async">

  {{ posts | json }}

</div>

<hr />


<button (click)="createPost()"> POST</button>


{{ newPost | async | json }}

<hr />

<button (click)="createTestPost()"> TestPOST</button>


{{ newPost | async | json }}-->


<div style="text-align:center">
  <h1>
    <a routerLink="login" routerLinkActive="active">Login</a>
    <a routerLink="alert" routerLinkActive="active">Alert</a>
    <a routerLink="owner" routerLinkActive="active">Owner</a>
    <a routerLink="qualify" routerLinkActive="active">Qualify</a>
    <a routerLink="noqualify" routerLinkActive="active">NoQualify</a>
    <a routerLink="front" routerLinkActive="active">Front</a>
    <a routerLink="back" routerLinkActive="active">Back</a>
    <a routerLink="welcome" routerLinkActive="active">Welcome</a>
  </h1>
</div>
<router-outlet></router-outlet>
